
data_hw_w4/multi-data.xlsx
data_hw_w4/ems_2019_last_6_months.csv
data_hw_w4/ems_2019_first_6_months.csv
data_hw_w4/ems_2020_first_6_months.csv
data_hw_w4/ems_2020_last_6_months.csv
data_hw_w4/global_temps.csv
